<?xml version="1.0"?>
<launch>
      <!-- Export env variable so that gazebo finds our models -->
      <env  name="GAZEBO_MODEL_PATH"
            value="$(find kuka_arm_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

      <!-- Launch file parameters -->
      <arg  name="paused" default="false" />
      <arg  name="debug" default="false" />
      <arg  name="headless" default="false" />
      <arg  name="gui" default="true" />
      <arg  name="use_sim_time" default="true" />
      <arg  name="limited" default="false" />
      <!-- Arm position in the world -->
      <arg	name="world_pose" default="-x 0 -y 0 -z 0.0 -R 0 -P 0 -Y 0" doc="Pose to spawn the robot at"/>
	<!-- Unpause the simulation after loading the robot model -->
  	<arg	name="unpause"	value="$(eval '' if arg('paused') else '-unpause')" />
      <arg name="world_name" default="$(find kuka_arm_gazebo)/worlds/cafe.world" /> 

      <!-- Start up simulated world -->
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <!--<arg name="world_name" value="$(arg world_name)" />-->
            <arg name="use_sim_time" value="$(arg use_sim_time)" />
            <arg name="paused" value="$(arg paused)" />
            <arg name="debug" value="$(arg debug)" />
            <arg name="gui" value="$(arg gui)" />
            <arg name="headless" value="$(arg headless)" />
      </include>

      <!-- Send robot urdf to param server -->
      <include file="$(find kuka_arm_gazebo)/launch/arm_description.launch" />

      <node name="spawn_gazebo_model" 
            pkg="gazebo_ros" 
            type="spawn_model" 
            respawn="false"
            output="screen"
            args="-param robot_description $(arg world_pose) -urdf -model kuka_arm"/> 

      <!-- Start controllers  -->
      <include file="$(find kuka_arm_gazebo)/launch/arm_control.launch" />

      <!--<rosparam file="$(find kuka_arm_gazebo)/config/gazebo_ros_control_params.yaml" command="load"/>-->
</launch>